@using Todo.Controllers
@using Todo.Data.Entities
@using Todo.Services
@using Todo.Models.TodoItems
@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

@*This Modal should be on a shared place so we can reuse and pass it a form/model*@
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @{
                var model = new TodoItemCreateFields { TodoListId = Model.TodoListId, TodoListTitle = Model.Title};
                await Html.RenderPartialAsync("~/Views/TodoItem/_Create.cshtml", model);
            }
        </div>
    </div>
</div>

<div class="col-md-6">
    <ul id="toDoList" class="list-group">

        <li class="list-group-item">
            <div class="flex-container">
                <div>
                    <a data-toggle="modal" data-target=".bd-example-modal-lg">
                        <strong>Add New Item</strong>
                    </a>
                </div>
                <div>
                    <button data-sort-direction="asc" id="btnSortRank" name="btnSortRank" onclick="sortByRank(this)">Sorted By Rank > asc</button>
                </div>
                <div>
                    <input type="checkbox" id="chkDoneItems" name="chkDoneItems" onclick="filterHiddenItems(this)">
                    <label for="chkDoneItems"> Hide Done Items</label><br>
                </div>
            </div>
        </li>

        @foreach (var item in Model.Items.OrderBy(o => o.Importance))
        {

            string contextualClass;
            switch (item.Importance)
            {
                case Importance.High:
                    contextualClass = "list-group-item-danger";
                    break;
                case Importance.Low:
                    contextualClass = "list-group-item-info";
                    break;
                default:
                    contextualClass = "";
                    break;
            }

            <li data-isDone="@item.IsDone" data-rank="@item.Rank" class="list-group-item @contextualClass">

                <div class="row">

                    <div class="col-md-8">
                        <a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@item.TodoItemId">

                            @if (item.IsDone)
                            {
                                <s>@item.Title</s>
                            }
                            else
                            {
                                <text>@item.Title</text>
                            }
                        </a>
                    </div>

                    <div class="col-md-4 text-right">
                        <small>
                            @item.ResponsibleParty.UserName

                            <img src="https://www.gravatar.com/avatar/@Gravatar.GetHash(item.ResponsibleParty.Email)?s=30" />

                        </small>
                    </div>
                </div>

            </li>
        }
    </ul>
</div>